body {
    font-family: 'open sans', sans-serif;
}

.container {
    height: 100px;  
    width: 80%;
    margin: 0 auto;
}

header {
    padding-top: 10px;
}

header h1 {
    float: left;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 20px;
    color: darkslategray
}

header img {
    float: left;
    height: 80px;
    width: 80px;
}

header a {
    float: right;
    padding-right: 10px;
    font-size: 20px;
    border-radius: 2px;
    background-color: rebeccapurple;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    padding: 10px;
    margin-right: 10px;
    
}

#hero
{
 background: url(../img/corgi-extinct-ftr.jpg);
    height: 400px;
    background-position: center;
    text-align: center;
    padding-top: 350px;
    background-repeat: no-repeat;
}

#hero h1 {
    color:purple;
    font-size: 50px;
    padding-bottom: 100px;
}

#hero h2 {
    color: dodgerblue;
    font-size: 35px;
    padding-bottom: 35px;
}

#breed {
    margin-top: 10px;
}
.foto {
    float: left;
}

.about {
    float: left;
    text-align: center;
    font-size: 10px;
    width: 48%;
}

#hero a {
    
  border-radius: 2px;
    background-color: yellowgreen;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    padding: 10px;
}