.navbar-default .navbar-nav>li>a {
    color: navy;
}

body {
    height: 100%;
}

#hero {
    margin-top: 50px;
    text-align: center;
    background-image: url(../img/ciudad_mexico.jpg);
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: table;
}

#hero h1 {
    padding-top: 180px;
    color: white;
    font-size: 60px;
}

#info div {
    background-color: black;
    color: white;
    text-align: center;
}

#info h2 {
    padding-top: 50px;
}

section a {
    font-size: 100px;
    border-radius: 2px;
    background-color: rebeccapurple;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    padding: 10px;
    margin-right: 10px;
}

#atracciones div {
    background-color: rebeccapurple;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    min-height: 600px;
    color: white;
}

#footer div {
    background-color: white;
    color: navy;
    min-height: inherit;
}

.xoxi {
    padding-top: 150px;
}

#salidas div {
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 0px;
    text-align: center;
    min-height: 250px;
    color: white;
}

#atracciones img {
    padding-top: 20px;
}

button {
    font-size: 20px;
    border-radius: 2px;
    background-color: rebeccapurple;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    padding: 10px;
    margin-right: 10px;
}

#info {
    margin: 50px;
}

#salidas {
    margin: 50px;
}